bert-for-tf2==0.14.9
blinker==1.4
brotlipy==0.7.0
certifi==2021.10.8
emoji==1.6.3
Flask==2.0.3
gast==0.3.3
google-pasta==0.2.0
gunicorn==20.1.0
html5lib==1.1
keras==2.7.
tensorflow==2.7.0
vaderSentiment==3.3.2
webencodings==0.5.1
pip==21.2.4
